/** @format */
:root {
  --sidebar-width: 86px;
}

.App {
  text-align: center;
}

.bg-white {
  background-color: white;
}

.bordered {
  border: 1px solid;
}

.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.justify-flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-1 {
  flex: 1;
}
.align-center {
  display: flex;
  align-items: center;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.justify-space-between {
  display: flex;
  justify-content: space-between;
}

.align-self-end {
  align-self: end;
}

.bt-none {
  border-top: none;
}

.mx-auto {
  margin-left: auto;
}
.ml-fourth-r {
  margin-left: 0.25rem
}
.mt-20 {
  margin-top: 20px
}
.mb-1r {
  margin-bottom: 1rem;
}
.mb-2r {
  margin-bottom: 2rem;
}

.h-full {
  height: 100%;
}
.h-inherit {
  height: inherit;
}

.w-inherit {
  width: inherit;
}
.w-full {
  width: 100%;
}
.w-max-xl {
  max-width: 1080px;
}

.p-0 {
  padding: 0;
}
.p-1r {
  padding: 1rem;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-2r {
  padding-bottom: 2rem;
}
.p-20 {
  padding: 20px;
}
.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-2r {
  padding-left: 2rem; 
  padding-right: 2rem;
}

.relative {
  position: relative;
}

.rotate_45 {
  transform: rotate(-45deg);
}

.pointer {
  cursor: pointer;
}
.text-align-right {
  text-align: right;
}
.ellipsis {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bs-0 {
  box-shadow: none;
}

.main {
  padding-left: var(--sidebar-width);
}

.not-allowed-cursor {
  cursor: not-allowed;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}